@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Notable&display=swap');
body {
    font-family: 'Abril Fatface', Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    margin: 40px;
    margin-top: 100px;
    background-color: #0F4D92;
}

h1 {
    color:white;
    font-family: 'Abril Fatface', Arial, Helvetica, sans-serif;
    font-size: x-large;
}
nav a {
    font-family: 'Abril Fatface', Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    margin: 10px;
}
.profile {
    margin: 30px;
    background-color: #0F4D92;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;  
} 
.block {
    display: inline;
}
a {
    color: white;
}